@font-face {
	font-family: 'pages-icon';
	src:url('../fonts/pages-icon/Pages-icon.eot?-u69vo5');
	src:url('../fonts/pages-icon/Pages-icon.eot?#iefix-u69vo5') format('embedded-opentype'),
		url('../fonts/pages-icon/Pages-icon.woff?-u69vo5') format('woff'),
		url('../fonts/pages-icon/Pages-icon.ttf?-u69vo5') format('truetype'),
		url('../fonts/pages-icon/Pages-icon.svg?-u69vo5#Pages-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.pg {
  display: inline-block;
  font: normal normal normal 14px/1 pages-icon;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="pg-"], [class*=" pg-"] {
  display: inline-block;
  font: normal normal normal 14px/1 pages-icon;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}